.footer__column-link {
  box-sizing: border-box;
  padding: 0;
  display: block;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  color: #FFF;
  text-decoration: none;
  transition: opacity 1s linear;
}

.footer__column-link:hover {
  opacity: 0.5;
}